.App {
  text-align: center;
}
.form-control {
  width: 50%;
  margin: auto;
}
form {
  margin-top: 2rem;
}
.login-info {
  color: wheat;
}

.logoutBtn {
  position: absolute;
  top: 1%;
  right: 2%;
}
